<div class="albums">
  <h1>Albums</h1>

  @if (loading()) {
    <div class="loading">Loading albums...</div>
  }

  @if (!loading() && albums().length === 0) {
    <p class="empty">No albums found.</p>
  }

  <ul class="album-list">
    @for (album of albums(); track album.id) {
      <li class="album-item">
        <a [routerLink]="['/albums', album.id]" class="album-link">
          <span class="album-id">#{{ album.id }}</span>
          <span class="album-title">{{ album.title }}</span>
        </a>
        <button class="delete-btn" (click)="deleteAlbum(album.id, $event)">Delete</button>
      </li>
    }
  </ul>
</div>
