/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', 'Inter', system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
